.App {
  padding: 1.5rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.list-header {
  width: 70%;
  display: flex;
  gap:3rem ;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.creat-form {
  display: flex;
  flex-direction: row;
  gap:3rem ;
}

.task-item {
  width: 70%;
  list-style: none;
  background-color:grey;
  margin-bottom: 10px;
  text-align: center;
}